<!DOCTYPE html>
<html>
<head>
  <title>PingPong</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to 'シングルス', '/singles' %></li>
          <li><%= link_to '参加登録', '/attendance' %></li>
          <li><%= link_to '設定', '/settings' %></li>
          <li><%= link_to 'help', '/' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
<% if flash[:error] %>
  <div id="flash-error" class="alert alert-error">
    <button class="close" data-dismiss="alert">×</button>
    <i class="icon-remove-sign"></i>
    <%= flash[:error] %>
  </div>
<% end %>
<% if flash[:warning] %>
  <div id="flash-error" class="alert">
    <button class="close" data-dismiss="alert">×</button>
    <i class="icon-info-sign"></i>
    <%= flash[:warning] %>
  </div>
<% end %>
<% if flash[:info] %>
  <div id="flash-info" class="alert alert-info">
    <button class="close" data-dismiss="alert">×</button>
    <i class="icon-info-sign"></i>
    <%= flash[:info] %>
  </div>
<% end %>
<% if flash[:success] %>
  <div id="flash-info" class="alert alert-success">
    <button class="close" data-dismiss="alert">×</button>
    <i class="icon-ok-sign"></i>
    <%= flash[:success] %>
  </div>
<% end %>

<%= yield %>
</div>

</body>
</html>
